/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@layer utilities {
  .masked {
    -webkit-text-security: disc;
    -moz-text-security: disc;
    text-security: disc;
  }
}
